PORT = 8000
MONGODB_URI=mongodb+srv://imravi1201_db_user:NWlp2ExeNIXYeqPK@cluster0.jpd5abl.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=some-long-random-secret
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=another-long-random-secret
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME =prgwhms7
CLOUDINARY_API_KEY=669451334958946
CLOUDINARY_API_SECRET=jj_iStL5p7R2N02qvxZs9rJ-uoQ
